<html>
<title>XenMagic</title>
<head>
    <link rel="stylesheet" href="css/style_blue.css" type="text/css" media="screen" charset="utf-8"/>
    <script type="text/javascript" src="js/changepassword.js"> </script>
</head>
<body>
<div style="height: 20px;"></div>
<div id="addserver" style="width: 500px;">
    <center>Please type the root password for ${server}: </center>
    <div style="padding-left: 20px;">
        <div style="height: 30px;"></div>
        <div style="float: left; width: 200px;">Current root password:</div>
        <div style="float: left;">
            <input type="password" name="txtcurrentpw" id="txtcurrentpw" value="" />
        </div><br>
        <div style="float: left; width: 200px;">&nbsp;</div>
        <div style="float: left; color: red; display: none;" id="lblwrongpw">
            The password you typed was incorrect
        </div>
        <div style="height: 10px; clear: both;"></div>
        <div style="float: left; width: 200px;">New root password:</div>
        <div style="float: left;">
            <input type="password" name="txtnewpw" id="txtnewpw" value="" />
        </div><br>
        <div style="height: 10px;"></div>
        <div style="float: left; width: 200px;">Re-enter new password:</div>
        <div style="float: left;">
            <input type="password" name="txtrenewpw" id="txtrenewpw" value="" />
        </div><br>
        <div style="height: 10px;"></div>
        <div style="float: left; width: 96px; clear: both;">&nbsp;</div>
        <div style="float: left; padding-top: 5px;">
            Note that if you lose or forget the password, it cannot be recovered.
            (Remember that passwords are case sensitive)
        </div><br>
    </div><br>
    <hr><br>
    <div style="float: left; width: 225px;">&nbsp;</div>
    <div style="float: left;">
        <input type="button" name="acceptchangepassword" id="acceptchangepassword" value="OK" class="button" onclick="on_acceptchangepassword_clicked(this)" / >
    </div>
    <div style="float: left; width: 20px;">&nbsp;</div>
    <div style="float: left;">
        <input type="button" name="cancelchangepassword" id="cancelchangepassword" value="Cancel" class="button" onclick="parent.hidePopWin(false); " />
    </div>
</div>
<div id="connecting" style="display: none;">
    Connecting and synchonization...
    <img src="images/ajax-loader.gif" />
</div>
</body>
</html>

