<div class="contextMenu" id="menu_vm">
  <ul>
    <li id="m_start"><img src="images/menu/start.png" /> Start</li>
    <li id="m_repair_storage"><img src="images/menu/repair.png" /> Repair Storage</li>
    <li id="m_connect"><img src="images/menu/connect.png" /> Connect</li>
    <li id="m_disconnect"><img src="images/menu/disconnect.png" /> Disconnect</li>
    <li id="m_forgetpw"><img src="images/menu/forget.png" /> Forget Saved Password</li>
    <li id="m_remove"><img src="images/menu/remove.png" /> Remove</li>
    <li id="m_resume"><img src="images/menu/resume.png" /> Resume</li>
    <li id="m_start_on"><img src="images/menu/start.png" /> Start On..</li>
    <li id="m_resume_on"><img src="images/menu/resume.png" /> Resume On..</li>
    <li id="m_newvm"><img src="images/menu/newvm.png" /> New VM</li>
    <li id="m_importvm"><img src="images/menu/importvm.png" /> Import VM</li>
    <li id="m_newstorage"><img src="images/menu/newstg.png" /> New Storage Repository</li>
    <!--<li id="m_add_to_pool"> Add To Pool</li>-->
    <!--<li id="m_addserver">Add Server<li>-->
    <li id="m_clean_shutdown"><img src="images/menu/shutdown.png" /> Shutdown</li>
    <li id="m_suspend"><img src="images/menu/suspend.png" /> Suspend</li>
    <li id="m_pause"><img src="images/menu/suspend.png" /> Pause</li>
    <li id="m_unsuspend"><img src="images/menu/resume.png" /> Unsuspend</li>
    <li id="m_unpause"><img src="images/menu/resume.png" /> Resume</li>
    <li id="m_clean_reboot"><img src="images/menu/reboot.png" /> Reboot</li>
    <li id="m_snapshot"><img src="images/menu/snap.png" /> Snapshot</li>
    <li id="m_installxenservertools"> Install XenServer Tools</li>
    <!--<li id="m_pool_add_server"> Add Server</li>-->
    <li id="m_hard_shutdown"><img src="images/menu/shutdown.png" /> Force Shutdown</li>
    <li id="m_hard_reboot"><img src="images/menu/reboot.png" /> Force reboot</li>
    <li id="m_unplug"><img src="images/storage_detached_16.png" /> Detach Storage</li>
    <li id="m_plug"><img src="images/menu/reattach.png" /> Reattach Storage</li>
    <li id="m_forget"><img src="images/menu/forget.png" /> Forget Storage</li>
    <li id="m_copy"><img src="images/menu/copy.png" /> Copy</li>
    <li id="m_export"><img src="images/menu/export.png" /> Export</li>
    <li id="m_make_into_template"><img src="images/menu/convert.png" /> Convert to template</li>
    <li id="m_destroy"><img src="images/menu/remove.png" /> Delete</li>
    <li id="m_delete"><img src="images/menu/remove.png" /> Delete</li>
    <li id="m_connectall"><img src="images/menu/connect.png" /> Connect All</li>
    <li id="m_disconnectall"><img src="images/menu/disconnect.png" /> Disconnect All</li>
    <li id="m_properties"><img src="images/menu/properties.png" /> Properties</li>
    <!--<li id="m_pool_migrate"><img src="images/menu/migrate.png" /> Migrate to Server</li>-->
  </ul>
</div>
