<div style="background-color: white; height: 100%; padding-left: 100px;">
    <div style="height: 30px;"></div>
    <font size="4">Welcome to <strong>XenMagic</strong></font>
    <div style="height: 30px;"></div>
    <div>
    <a href="javascript:showPopWin('addserver', 440, 260, null);">
        <img src="images/server.png" align="left" valign="middle" style="margin-right: 20px;"/>
    </a>
    <div style="height: 40px;"></div>
        Click this button to connect to your XenServer and populate<br>your server or Resource Pool with virtual machines
    </div>
    <div style="height: 100px;"></div>
    <div style="height: 50px;"></div>
    <div style="margin-left: 25px;">
        Need further advice, assistance or support? Visit <a href="http://xenmagic.com/">http://xenmagic.com</a>
    </div>
    <div style="height: 50px;"></div>
</div>
