<div style="background-color: white; height: 100%; padding-left: 100px;">
    <div style="height: 30px;"></div>
    <div style="height: 30px;"></div>
    <div>
        <img src="images/hat-wand.gif" align="left" valign="middle" style="margin-right: 20px;"/>
        <div style="height: 40px;"></div>
    	<p style="font-size:30px">Welcome to <strong>XenMagic</strong></p>
    </div>
    <div style="height: 100px;"></div>	
    <div style="margin-left: 25px;">
    	<p style="font-size:14px">Need further advice, assistance or support? Visit <a href="http://xenmagic.com/" target="_blank">http://xenmagic.com</a></p>
    	<p style="font-size:14px">Need to report a bug, visit the <a href="https://github.com/grantmcwilliams/XenMagic" target="_blank">XenMagic github project</a></p>
    	<p style="font-size:14px">Need general Xenserver assistance? Visit the unofficial <a href="https://plus.google.com/communities/113310194099597322381" target="_blank">XCP/Xenserver Google+ Community</a></p>
    </div>
    <div style="height: 50px;"></div>
</div>
