<div style="height: 20px; border-left: 1px solid black; border-right: 1px solid black; border-bottom: 1px solid black;">
    <div style="float: left;width: 16%;border-right: 1px solid black;">
        <input type="text" style="width: 100%;height: 18px;" id="searchvmtree" onkeyup="update_vmtree();" />
    </div> 
    <div style="float: left;width: 70%;">
        <img id="headimage" src="images/xen.png" valign="middle" style="margin-top: 2px;margin-left: 10px; margin-right: 30px;"/>
        <strong id="headlabel">XenWebManager</strong>
    </div> 
</div>
