<html>
<head>
    <title>XenWebManager</title>
    <link rel="stylesheet" href="css/style_blue.css" type="text/css" media="screen" charset="utf-8"/>
    <script type="text/javascript" src="js/masterpassword.js"> </script>
</head>
<body style="background-color: white;" onLoad="document.getElementById('txtaskmasterpassword').focus();">
<div style="height: 20px;"></div>
<div id="addserver" style="width: 380px;">
    <center><img src="images/masterpassword.gif" /></center>
    <center><strong>Enter the master password to connect your servers: </strong></center>
    <div style="padding-left: 20px;">
        <div style="height: 30px;"></div>
        <div style="float: left; width: 200px;">
            Master Password:</div>
        <div style="float: left;">
            <input type="password" name="txtaskmasterpassword" id="txtaskmasterpassword" value="" />
        </div><br>
        <div style="float: left; width: 200px;">&nbsp;</div>
        <div style="float: left; color: red; display: none;" id="lblwrongpassword">
            The password you typed was incorrect<br />
        </div>
    </div><br>
    <hr><br>
    <div style="float: left; width: 225px;">&nbsp;</div>
    <div style="float: left;">
        <input type="button" name="acceptmasterpassword" id="acceptmasterpassword" value="OK" class="button" onclick="on_acceptmasterpassword_clicked(this)" / >
    </div>
    <div style="float: left; width: 20px;">&nbsp;</div>
    <div style="float: left;">
        <input type="button" name="cancelmasterpassword" id="cancelmasterpassword" value="Cancel" class="button" onclick="parent.hidePopWin(false); " />
    </div>
</div>
<div id="connecting" style="display: none;">
    Connecting and synchonization...
    <img src="images/ajax-loader.gif" />
</div>
</body>
</html>

