<title>XenMagic</title>

<head>
    <link rel="stylesheet" href="css/style_blue.css" type="text/css" media="screen" charset="utf-8"/> 
     <script type="text/javascript" src="js/newnetwork.js"> </script>
</head>
<body style="background-color: white;">
    <div style="margin-top: 10px; width: 500px; height: 500px; padding-left: 10px">
        <div style="float: left; padding-top: 10px"><strong>Select the network type:</strong></div>
        <div style="float: right; padding-right: 20px; padding-top: 10px;"><img src="images/prop_networksettings.png" border="0"></div>
        <div style="float: left; width: 100%; height: 10px;"></div>
        <div style="float: left;  padding-left: 80px;">
            <input type="radio" id="radioexternalnetwork" name="radioexternalnetwork" value="radioexternalnetwork" onClick="toggleExternal(this);" checked/>
            <strong>External Network</strong><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create a network that passes traffic over one of your VLANs
        </div>
        <div style="float: left; padding-left: 80px;">
            <input type="radio" id="radioexternalnetwork" name="radioexternalnetwork" value="radiointernalnetwork" onClick="toggleExternal(this);" />
            <strong>Internal Network</strong><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create a network that does not leave the XenServer host.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This can be used as a private connection between VMs.
        </div>
        <div style="float: left; width: 100%; height: 20px;"></div>
        <div style="float: left">
            <div style="width: 100px; float: left;"><strong>Name:</strong></div>
            <div style="float: left; padding-left: 30px;"><input type="text" id="txtnetworkname" name="txtnetworkname" style="width: 330px;" value="New Network" /></div>
            <div style="float: left; width: 100%; height: 10px;"></div>
            <div style="width: 100px; float: left;"><strong>Description:</strong></div>
            <div style="float: left; padding-left: 30px;"><input type="text" id="txtnetworkdesc" name="txtnetworkdesc" style="width: 330px;"></div>
        </div>           
        <div style="float: left; width: 100%; height: 20px;"></div>
        <div style="float: left">
            <div id="internalnetwork" >
                Select a physical network interface for the new network:<br>
                <div style="float: left; width: 100%; height: 10px;"></div>
                <div style="width: 100px; float: left;"><strong>NIC:</strong></div>
                <div style="float: left; padding-left: 30px;">
                    <select id="combonetworknic" name="combonetworknic" style="width: 330px;">
                        % for network in networks:
                            <option value="${network[0]}">${network[1]}</option>
                        % endfor
                    </select>
                </div>
                <div style="float: left; width: 100%; height: 10px;"></div>
                <br>Assign a number to your logical network or VLAN:<br>
                <div style="float: left; width: 100%; height: 10px;"></div>
                <div style="width: 100px; float: left;"><strong>VLAN:</strong></div>
                <div style="float: left; padding-left: 30px;">
                    <input type="text" id="spinnetworkvlan" name="spinnetworkvlan" style="width: 60px;" value="${vlan}" onblur="checkVlan(this);">
                    <span style="color: red; display: none;" id="lblvlaninuse">The specified VLAN tag is already in use!</div>
                </div>
            </div>
            <div style="float: left; width: 100%; height: 20px;"></div>
            <div style="float: left">
                <input type="checkbox" id="checkautonetwork" name="checkautonetwork"> Automatically add this network to new virtual machines.
                <p>
                Select this check box to add this network to any new virtual machine (VM) 
                created using New VM Wizard. You will be ableto remove this network when 
                creating new VMs using the New VM Wizard </p>
                <div style="float: right; padding-right: 20px;">
                    <img src="images/ajax-loader.gif" id="loading" style="display: none;"/>
                    <input type="button" id="acceptnewnetwork" name="acceptnewnetwork" value="Accept" class="button" onClick="on_acceptnewnetwork_clicked();" />
                    <input type="button" id="cancelnewnetwork" name="cancelnewnetwork" value="Cancel" class="button" onClick="parent.hidePopWin(false);" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
